.wrapper {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 3rem;
}

.header {
  background-image: url(.././images/hero-image.jpg);
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    padding: 2.5rem 0;
    color: getColor(text-light-col);
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.menu {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px solid getColor(border-col);
  }

  &__info {
    margin-right: auto;
  }
}

.order-container {
  padding: 2rem 0;
  display: none;
}

.order {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: 2px solid getColor(text-medium-col);
    padding-top: 1rem;
  }
}
