h1 {
  font-size: 2.5rem;
}

.header__sub-heading {
  font-size: 1.25rem;
}

.modal__heading {
  font-family: $font-secondary;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

.menu {
  &__heading {
    font-size: 1.75rem;
  }

  &__ingredients {
    color: getColor(text-medium-col);
    margin-bottom: 0.75rem;
  }
}

.order {
  &__heading {
    text-align: center;
    font-size: 1.75rem;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__ {
    font-size: 1.25rem;
  }
}

.error-msg {
  font-family: $font-secondary;
  color: getColor(errorText);
  font-size: 0.875rem;
  display: none;
  padding-top: 0.25rem;
}
