$font-primary: "Smythe", cursive;
$font-secondary: "verdana", sans-serif;

$colors: (
  primary-bg: #ffffff,
  btn-col: #16db99,
  success-text-col: #065f46,
  success-bg-col: #ecfdf5,
  main-bg-col: #ffffff,
  text-dark-col: #000000,
  text-medium-col: #757575,
  text-light-col: #ffffff,
  border-col: #d2d2d2,
  icons-col: #3c3c3c,
  errorText: #721c24,
);

@function getColor($color) {
  @return map-get($colors, $color);
}

$breakpoints: (
  x-small: 420px,
  small: 576px,
  medium: 768px,
  large: 992px,
  x-large: 1200px,
  xx-large: 1400px,
  xxx-large: 1600px,
);

@function getBreakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}
